h1 {
  font-size: 1em;
}

body {
  color: olive;
}

a {
  color: inherit;
}

/* 우선순위 */

/* 10점 */
.ai {
  background-color: aqua;
}

/* 2점 */
body p {
  background-color: yellow;
}

/* 1점 */
p {
  color: blueviolet !important;
}

body h2 + p {
  text-align: right;
}

body p[class] {
  text-align: center;
}

#ai {
  background-color: pink;
  color: blue;
}

.ai.copilot {
  border: 10px dotted blue;
}

* {
  background-color: lightcoral;
}
