/* html과 :root 중 하나만 적용하면 됨 */
html {
  font-size: 10px;
}
:root {
  font-size: 10px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

/* font-size 속성 - 글자 크기 */
.size {
  font-family: 'SUIT';
  font-weight: 100;
}

/* font 관련 속성 - 글자 크기, 굵기, 기울임꼴 */
.font-design1 {
  font-size: 12x;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  font-variant: small-caps;
  font-family: 'Pretendard variable', sans-serif;
}

/* font 단축 속성 */
.font-design2 {
  /* weight, style, variant: 1순위 */
  /* 글자 크기와 폰트는 필수 */
  font: bold italic small-caps 24px /1.5 'Pretendard variable';
}
