@import '/src/common/mini-reset.css';

body {
  margin: 30px;
}

.lion {
  border: 1px solid black;
  background-color: black;

  .like {
    border: 1px solid red;
    background-color: yellow;
    position: relative;
    height: 50px;
    top: -5px;
    left: -5px;
  }
}

.box {
  position: relative;
  border: 1px solid blue;
  height: 100px;
}

.bootcamp {
  background-color: aqua;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 150px;
  height: 70px;
}

h6 {
  background-color: pink;
}
