.member-service {
  background-color: bisque;
  text-transform: uppercase;
  font: suit, sans-serif;
  line-height: 1.5;
  font-size: 0px;
}

.item {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
  /* padding-left: 8px;
  padding-right: 8px; */
  background-color: pink;
}

a {
  text-decoration: none;
  color: inherit;
}

.item.first::before {
  content: '';
}

.item::before {
  content: ':';
  padding-left: 16px;
  padding-right: 16px;
}

/* item2 */
ul {
  list-style: none;
  /* background-color: salmon; */
}

li {
  display: inline;
  font-size: 0px;
}

.item2 {
  background-color: pink;
  font-size: 14px;
  padding: 0 16px;
}

span {
  background-color: aqua;
  font-size: 14px;
}

/* UL 요소를 활용한 구조 예시 */
.member-link {
  background-color: aqua;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 0;
  text-align: right;

  li {
    display: inline-block;

    * {
      display: inline-block;
      font-size: 0.875rem;
    }
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    padding: 8px;
    background-color: pink;
    /* padding-left: 8px;
    padding-right: 8px */
  }

  span {
    margin-left: 8px;
    margin-right: 8px;
  }
}
