@import '../../common/mini-reset.css';

:root {
  --green-color: #22be61;
  --silver-color: #929b90;
  --orange-color: #e39042;

  --font-size-large: 1.125rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.6875rem;
}

body {
  margin: 50px;
}

h1 {
  margin-bottom: 50px;
}

/* 알림 */
.notification {
  --plant-color: var(--green-color);
  --meal-color: var(--orange-color);

  font-family: 'SUIT', sans-serif;
  background: no-repeat 20px 28px /28px 28px;
  border: 1px solid var(--silver-color);
  border-radius: 8px;
  margin-bottom: 20px;

  &.item1 {
    background-image: url(/src/assets/svg/pot.svg);
  }
  &.item2 {
    background-image: url(/src/assets/svg/meal.svg);
  }

  .notification-contents {
    position: relative;
    margin: 20.5px 20px 20.5px 68px;

    .notification-subject {
      font-size: var(--font-size-large);
      margin-bottom: 4px;
      font-weight: bold;

      &.item1 {
        color: var(--plant-color);
      }
      &.item2 {
        color: var(--meal-color);
      }
    }

    .notification-time {
      font-size: var(--font-size-small);
      font-weight: bold;
      position: absolute;
      right: 3px;
      top: 4px;

      &.item1 {
        color: var(--plant-color);
      }
      &.item2 {
        color: var(--meal-color);
      }
    }

    .notification-content {
      color: var(--silver-color);
      font-size: var(--font-size-medium);
    }
  }
}

/* 예시 코드 */
:root {
  /* 색상 */
  --green: #22be61;
  --silver: #929b90;
  --brown: #e3a368;

  /* 여백 */
  --spacing-10: 0.625rem;
  --spacing-20: 1.25rem;
  --spacing-70: 4.375rem;

  /* 글자 크기 */
  --large: 1.125rem;
  --medium: 0.875rem;
  --small: 0.75rem;
}

/* 알림 컨테이너 */
.container2 {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

/* 알림 */
.notification2 {
  --border-color: var(--silver);
  --text-color: var(--silver);
  --base-spacing: var(--spacing-20);
  --large-spacing: var(--spacing-70);

  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background: no-repeat var(--base-spacing) 50%;
  padding: var(--base-spacing) var(--base-spacing) var(--base-spacing)
    var(--large-spacing);
  margin-top: --base-gap;
  color: var(--text-color);

  .notification-subject {
    font-size: var(--large);
  }

  .notification-time {
    font-size: var(--small);
    position: absolute;
    top: var(--base-spacing);
    right: var(--base-spacing);
  }

  .notification-content {
    font-size: var(--medium);
    margin-top: var(--base-gap);
  }

  &.green {
    background-image: url(/src/assets/svg/pot.svg);

    .notification-subject,
    .notification-time {
      color: var(--green);
    }
  }

  &.brown {
    background-image: url(/src/assets/svg/meal.svg);

    .notification-subject,
    .notification-time {
      color: var(--brown);
    }
  }
}
