@import '/src/common/mini-reset.css';

:root {
  /* 색상 */
  --green: #22be61;
  --silver: #929b90;
  --brown: #e3a368;

  /* 여백 */
  /* 10px */
  --spacing-10: 0.625rem;
  /* 20px */
  --spacing-20: 1.25rem;
  /* 70px */
  --spacing-70: 4.375rem;

  /* 글자 크기 */
  /* 18px */
  --large: 1.125rem;
  /* 14px */
  --medium: 0.875rem;
  /* 12px */
  --small: 0.75rem;
}

body {
  margin: 50px;
}

h1 {
  margin-bottom: 50px;
}

/* 토스트 UI */
.toast {
  --border-color: var(--silver);
  --text-color: var(--silver);
  --gap: var(--spacing-10);
  --base-spacing: var(--spacing-20);
  --large-spacing: var(--spacing-70);

  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background: no-repeat var(--base-spacing) 50%;
  padding: var(--base-spacing);
  padding-left: var(--large-spacing);
  margin-top: var(--base-spacing);
  color: var(--text-color);

  h2,
  strong {
    font-size: var(--large);
  }

  time {
    font-size: var(--small);
    position: absolute;
    top: var(--base-spacing);
    right: var(--base-spacing);
  }

  p {
    font-size: var(--medium);
    margin-top: var(--gap);
  }

  &.plant-care {
    background-image: url(/src/assets/svg/pot.svg);

    h2,
    time {
      color: var(--green);
    }
  }

  &.mealtime {
    background-image: url(/src/assets/svg/meal.svg);

    strong,
    time {
      color: var(--brown);
    }
  }
}
