@import '../../../src/ui/components/avatar/avatar.css';

/* 아바타 리스트 */
/* case 01 - inline-block */
.case-01 {
  background: yellow;
  margin: 20px;
  border: 2px solid red;
  border-radius: 2px;

  ul {
    background: pink;
    /* 공백의 font-size 없애기 */
    font-size: 0;
    padding: 10px;
    width: 360px;
    margin: 0 auto;
  }

  li {
    background: lime;
    display: inline-block;
    /* 상속받은 폰트 사이즈 0 : 스크린 리더가 못 읽음 */
    font-size: 1rem;
    margin: 10px;
  }
}

/* case 02 - float */
.case-02 {
  background: yellow;
  margin: 20px;
  border: 2px solid red;
  border-radius: 2px;

  ul {
    background: pink;
    padding: 10px;
    width: 360px;
    margin: 0 auto;
    display: flow-root;
  }

  li {
    background: lime;
    float: left;
    margin: 10px;
  }
}

/* case 03 - flex */
/* case 04 - grid */
