<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select UI</title>
    <link
      rel="shortcut icon"
      href="../assets/favicon/likelion.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/src/assets/favicon/likelion.svg" />
    <link
      rel="preload"
      as="font"
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT-Regular.woff2"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css"
    />
    <link rel="stylesheet" href="/src/ui/components/select/select.css" />
  </head>
  <body>
    <h1>Select UI</h1>
    <br />

    <div class="select-box">
      <img src="/src/assets/icon/global.svg" class="global-img" alt="" />
      <img src="/src/assets/icon/triangle.svg" class="triangle-img" alt="" />
      <select name="lang" id="lang" class="select-lang">
        <option value="kor">한국어</option>
        <option value="eng">English</option>
      </select>
    </div>
    <br />

    <div class="select">
      <img role="none" class="icon-global" src="/src/assets/icon/global.svg" alt="글로벌">
      <label for="select-1" class="sr-only">언어 선택</label>
      <select name="select-1" id="select-1">
        <option value="korean">한국어</option>
        <option value="english">English</option>
      </select>
      <img src="/src/assets/icon/triangle.svg" alt="드롭다운" class="icon-triangle" />
      </img>
    </div>
    
  </body>
</html>
